<% include ../partials/header %>

  <header class='jumbotron'>
  <div class='container'>
    <h1>Incident Report</h1>
    <p>Protect your customers and your venue with Incident Report's unruly patron tracker and report system.</p>
    <p>
      <a class='btn btn-default btn-lrg' href="/reports/new">Add New Incident Report</a>
    </p>
  </div>
  </header>
  <div class="row text-center" style='display:flex; flex-wrap: wrap;'>
    <% reports.forEach(function(report){ %>
      <div class='shrink col-md-3 col-sm-6'>
        <div class='thumbnail'>
          <img src="<%= report.image %>">
          <div class='caption'>
            <h4>  <%= report.name %> </h4>
          </div>
            <p>
              <a href='/reports/<%= report._id %>' class='btn btn-default'>More Info</a>
            </p>
        </div>
      </div>
    <% }) %>
  </div>

<% include ../partials/footer %>