<% include ./partials/header %>

<header style='background-color: rgba(0, 2, 0, 0.8)'class='jumbotron'>
  <div class='container'>
    <h1>Why Incident Report?</h1>
    <h3>With Hospitality in Mind</h3>
    <p>Designed for hospitality industry. Incident report allows Industry Professionals to communicate with one another by reporting the misconduct of troublesome individuals in the area.</p>
    <hr style='color: white'>
    <h3>How can you contribute?</h3>
    <p>After creating an account, both security personnel and management can file reports based on the actions of patrons in their venues, or comment on posts from others. 
    </p>
    <hr style='color: white'>
    <h3>A Warning on Decency!</h3>
    <p>Incident Report is meant to help insure the safety of guests and co-workers. It is not a platform to defame or file frivolous accusations. We encourage the golden rule, and hope that all users of this service will consider this when creating reports and commenting on others. 
    </p>
  </div>
  </header>


<% include ./partials/footer %>