.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

#low-p {
  color: white;
  background-color: blue;
}

#mod-p {
  color: black;
  background-color: yellow;
}

#crit-p {
  color: white;
  background-color: red;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}